.manager-specialty-container {
    background-color: #6d9886;
    height: 100%;
    .add-new-specialty {
        width: 1200px;
        margin: auto;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
            rgb(51, 51, 51) 0px 0px 0px 3px;
    }
    .preview-image {
        width: 204px;
        height: 197px;
    }
}
