.manager-specialty-container {
    padding: 16px 31px;
    height: 130vh;
    .ms-title {
        text-align: center;
        margin: 15px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        opacity: 0.8;
    }
    .btn-add-new-specialty {
    }
    .add-new-specialty {
    }
}
