.modal-content {
    border-radius: 14px;
    padding: 48px 24px;
}

.wrapBtn {
    display: flex;
    justify-content: space-around;
}

.btn-custom {
    min-width: 88px;
    min-height: 40px;
    box-shadow: 1px 2px 3px #333;
}
