.wrapper {
    height: 100vh;
}
.wrapper-btn {
    display: flex;
    justify-content: flex-start;
}
.btn {
    outline: none;
    display: inline-block;
    i {
        text-align: center;
        font-size: 24px;
    }
    .button-delete {
        color: rgb(155, 12, 12);
    }
    .button-edit {
        color: rgb(16, 161, 16);
    }
}
