.detail-specialty-wrapper {
    font-family: "Montserrat", sans-serif;
    background-color: #f7f6f6;
    .description-specialty {
        min-height: 200px;
        line-height: 1.4;
        margin-top: 78px;
        background-color: white;

        .description-specialty-content {
            width: 1140px;
            margin: auto;
            padding: 16px 0;
        }
    }

    .search-sp-doctor {
        width: 1140px;
        margin: auto;
        min-height: 50px;
        display: flex;
        align-items: center;
        select {
            word-wrap: normal;
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid;
        }
    }
    .list-doctor-empty {
        min-height: 300px;
        position: relative;
        .tde-text {
            position: absolute;
            width: 100%;
            top: 20px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: red;
        }
    }
    .each-doctor {
        background-color: white;

        padding: 8px 16px;
        display: flex;
        width: 1140px;
        margin: auto;
        min-height: 320px;
        margin-top: 16px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 4px;
        .content-left-parent {
            width: 50%;
            padding-right: 16px;
            .profile-wrapper .intro-doctor .content-left {
                width: 120px;
            }
        }
        .content-right-parent {
            width: 50%;

            .doctor-schedule {
            }
            .doctor-extra-info {
                margin-top: 45px;
                .doctor-extra-info-container {
                    padding: 0 !important;
                }
            }
        }
    }
}

strong {
    font-size: 16px;
}
