.profile-wrapper {
    position: relative;

    .time-wrapper {
        display: flex;
    }
    .label {
        font-size: 13px;
        font-weight: 600;
        margin-right: 5px;
    }
    .intro-doctor {
        display: flex;
        width: 100%;
        padding: 16px 0;
        .content-left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            margin-right: 20px;
            .doctor-img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        .content-right {
            width: 100%;
            align-items: center;
            .title-profile-doctor {
                .name-doctor {
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            .info {
                margin-top: 12px;
                font-size: 12px;
                white-space: pre;
                line-height: 1.6;
            }
        }
    }
    .content-down-more {
        position: absolute;
        top: 128px;
        left: 10px;
        span {
            font-weight: 600;
            cursor: pointer;
            a {
                color: #00abb3;
                text-decoration: none;
            }
        }
    }
}

.content-description {
    white-space: pre-line;
}
