.modal-content {
    font-family: "Montserrat", sans-serif;
    padding: 16px;
    border-radius: 8px;
    .booking-modal-content {
        height: 650px;
        display: flex;
        flex-direction: column;
        .booking-modal-header {
            padding: 10px;
            border-bottom: 1px solid #ccc;

            .modal-header-left {
                font-size: 20px;
                font-weight: 600;
                color: #333;
            }
            .modal-header-right {
                float: right;
                i {
                    font-size: 20px;
                    padding: 4px;
                    color: #716e6e;
                    cursor: pointer;
                }
            }
        }
        .booking-modal-body {
            height: 100%;
            padding-top: 15px;
        }
        .booking-modal-footer {
            padding: 10px;
            height: 54px;
            display: flex;
            justify-content: flex-end;
            .btn-booking {
                min-width: 90px;
                margin-left: 8px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

div._loading_overlay_wrapper {
    position: unset;
    ._loading_overlay_overlay.css-df17o1.css-df17o1 {
        z-index: 8000000 !important;
        height: 121%;
    }
}
